In [5]:
import pandas as pd
from surprise import Reader, Dataset

from surprise import SVD
from surprise.model_selection import cross_validate,KFold

In [17]:
ratings = pd.read_csv('./ratings_Beauty.csv') # reading data in pandas df
ratings = ratings.dropna()
ratings.head()

           UserId  ProductId  Rating   Timestamp
0  A39HTATAQ9V7YF  205616461       5  1369699200
1  A3JM6GV9MNOF9X  558925278       3  1355443200
2  A1Z513UWSAAO0F  558925278       5  1404691200
3  A1WMRR494NWEWV  733001998       4  1382572800
4  A3IAAVS479H7M7  737104473       1  1274227200

In [20]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(ratings[['UserId', 'ProductId', 'Rating']], reader)
kf = KFold(n_splits=5)
kf.split(data)

In [21]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE','MAE'])

{'test_rmse': array([1.25792192, 1.2579851 , 1.25585661, 1.25496594, 1.25764929]),
 'test_mae': array([0.98241115, 0.98269916, 0.98037631, 0.98026134, 0.98168619]),
 'fit_time': (18.023919582366943,
  17.540188550949097,
  20.06448221206665,
  20.301097869873047,
  23.662968397140503),
 'test_time': (4.690695524215698,
  1.323434591293335,
  4.048994064331055,
  2.729224443435669,
  1.7166101932525635)}

In [22]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [33]:
svd.predict(5, 350, 3)

Prediction(uid=5, iid=350, r_ui=3, est=4.176863839019622, details={'was_impossible': False})